html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.main-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main-header .main-nav {
  width: 40%;
}
.main-header .main-nav ul {
  display: flex;
  justify-content: space-evenly;
}
.main-header .main-nav ul li {
  list-style: none;
}
.main-header .main-nav ul li a {
  text-decoration: none;
  color: white;
}
.main-header .main-nav ul li a:hover {
  background: transparent;
  color: gold;
  transition: ease-in 0.5s;
}
body {
  height: 100vh;
  background-color: black;
  letter-spacing: 0.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
section {
  width: 100%;
  height: 100vh;
  transition: ease-in 0.5s;
}
.home-page {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  padding-bottom: 2.5rem;
}
.home-page .home-title {
  display: flex;
  align-content: center;
}
.home-page .home-title img {
  width: 60%;
  border-radius: 0.5rem;
}
.home-page .home-title .title {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-size: 2rem;
}
.home-page .home-title .title h1 {
  font-size: 4rem;
}
.home-page .home-title .title a {
  cursor: pointer;
  text-align: center;
  background: transparent;
  font-size: 1rem;
  width: 35%;
  height: 1.9rem;
  border: 1px solid;
  box-shadow: 1px 2px #ffffff;
  color: aliceblue;
  border-radius: 10px;
  margin-top: 5%;
  padding-top: 0.5rem;
  transition: ease-in 0.3s;
}
.home-page .home-title .title a:hover {
  background: azure;
  transform: rotate(5deg);
  box-shadow: none;
  color: black;
}
.home-page #section-about {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 100vh;
}
.home-page #section-about .about-me {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}
.home-page #section-about .about-me h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.home-page #section-about .about-me p {
  letter-spacing: 0.2rem;
  width: 60%;
}
.home-page .recent-projects {
  margin-top: 0.2rem;
  padding-top: 1rem;
  height: fit-content;
  color: aliceblue;
  text-align: center;
}
.home-page .recent-projects h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.home-page .recent-projects .project_images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
}
.home-page .recent-projects a {
  width: 25%;
  height: 30vh;
  cursor: pointer;
}
.home-page .recent-projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4%;
}
.home-page .recent-projects a:hover {
  background-color: darkslategrey;
  opacity: 0.5;
}
.home-page .recent-projects .title_chat {
  padding: 1.5%;
  width: 5%;
  height: 2vh;
  position: absolute;
  left: 15%;
  bottom: 40%;
  color: transparent;
}
.home-page .recent-projects .title_lux {
  padding: 1.5%;
  width: 5%;
  height: 2vh;
  position: absolute;
  left: 45.5%;
  bottom: 40%;
  color: transparent;
}
.home-page .recent-projects .title_expat {
  padding: 1.5%;
  width: 5%;
  height: 2vh;
  position: absolute;
  left: 78%;
  bottom: 40%;
  color: transparent;
}
.home-page .recent-projects h3:hover {
  border: 1px solid snow;
  color: #ffffff;
  cursor: pointer;
}
.project-wrapper {
  overflow-y: scroll;
  height: 94vh;
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}
.project_container {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}
.project_container .project_card {
  width: 45%;
  height: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.project_container .project_card a {
  color: white;
}
.project_container .project_card h3 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  font-style: italic;
}
.project_container .project_card img {
  width: 100%;
  object-fit: cover;
}
.project_container .project_card .decription {
  width: 50%;
}
.project_container .project_card .date {
  margin-top: 1.5rem;
}
.project_container .project_card .github {
  margin-top: 0.7rem;
}
.project_container .project_card .github .logo {
  width: 8%;
}
body {
  color: aliceblue;
  overflow: hidden;
}
.contact-container {
  text-align: center ;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-container h1 {
  margin-top: 5rem;
  font-size: 2rem;
}
.contact-container .media {
  height: 100%;
  width: 100%;
  margin-top: 3.5rem;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
}
.contact-container .media .social {
  margin-left: 1.8rem;
  height: 20%;
  width: 35%;
}
.contact-container .media .social a {
  margin: 0;
  height: 10%;
}
.contact-container .media .social a img {
  margin-top: 1rem;
  width: 30%;
}
.contact-container .media .social a .twitter {
  margin-top: 2rem;
  width: 22%;
}
.contact-container .media span {
  flex: 0.5;
}
.contact-container .media form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 35%;
  height: 55%;
  border: 1px solid white;
}
.contact-container .media form label {
  margin-top: 1rem;
}
.contact-container .media form input {
  margin: 0.5rem;
  opacity: 0.3;
  width: 94.5%;
  height: 8%;
}
.contact-container .media form .full_name {
  margin-top: 1rem;
}
.contact-container .media form .description {
  height: 25%;
  margin-bottom: 0;
}
